# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages that Data Scientists use
- Some of commonly used librairies used by Data Scientists
- List of development environment open source tools in Data Science
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. SCALA
5. JAVA
6. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pands
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn library
6. Keras

| Data Science Tools |
|--------------------|
|Jupyter|
|Jupyter Notebooks |
| RStudio|
| Apache Sspark |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Rim